.skill-card{
  margin: 1rem;
  border-radius: 15px;
  max-width: calc(25% - 2rem);
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  transition: box-shadow 0.3s;
  background: rgb(204,242,244);
  background: linear-gradient(45deg, #CCF2F4 0%, #F6F5F5 80%);
  .skill-name{
    padding: 3rem;
    font-size: 1.2rem;
    text-align: center;
  }
  &:hover{
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  }
}

@media only screen and (max-width: 1023px) {
  .card{
    max-width: calc(50% - 2rem);
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 424px) {
  .card{
    max-width: calc(100% - 2rem);
    flex-basis: 100%;
    .skill-name{
      padding: 2rem;
      font-size: 1rem;
    }
  }
}
