.homepage {
    height: 100vh;
    background-image: url("../../assets/photoProfile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    .hero-content {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        width: 85%;
        color: white;
        .welcome-text {
            font-size: 30px;
            margin: 15px 0px;
        }
        .my-name-text {
            font-size: 40px;
            margin: 15px 0px;
            span {
                color: #fca311;
                text-decoration: underline;
                font-size: larger;
            }
        }
        .description-text {
            margin: 15px 0px;
        }
        .button-holder {
            button {
                background-color: rgba(0, 0, 0, 0);
                color: white;
                width: 100px;
                height: 30px;
                transition: 0.3s;
                border-width: 2px;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.6);
                    color: white;
                }
            }
        }
    }
}
