.profile{
  box-sizing: border-box;
  background: rgb(204,242,244);
  padding: 3rem 0;
  .detail-me-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .img-holder{
      width: 50%;
      .my-pic{
        width: 100%;
        height: 100%;
      }
    }
    .text{
      font-family: 'Montserrat', sans-serif;
      color: #113F67;
      font-size: 2em;
      font-weight: 200;
      padding: 3rem;
      span{
        font-size: 1rem;
        font-weight: 600;
        border-left: 3px solid #113F67;
        padding: 3px 5px;
      }
    }
  }
}

//mobile or tablet
@media only screen and (max-width: 1023px) {
  .profile{
    .detail-me-holder{
      .text{
        font-size: 1.5rem;
        text-align: left;
        padding: 1rem;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .profile{
    .detail-me-holder{
      flex-direction: column;
      .img-holder{
        width: 100%;
      }
      .text{
        font-size: 1.5rem;
        text-align: left;
        padding: 1rem;
        width: 100%;
      }
    }
  }
}