.sidenav{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1687A7;
  color: #CCF2F4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
  .links{
    display: flex;
    align-items: center;
    flex-direction: column;
    .link{
      color: #87C0CD;
      padding: .5rem;
      font-size: 1.2rem;
      line-height: 1.5rem;
      margin: 1rem;
      text-align: center;
    }
    .close{
      padding: .5rem 1rem;
      font-size: 1.2rem;
      line-height: 1.5rem;
      margin: 1rem;
      text-align: center;
      color: #87C0CD;
      background-color: #113F67;
      border-radius: 30px;
    }
  }
}