$text-color: #113F67;
$text-second-color: #87C0CD;
$text-sidebar-color: #CCF2F4;
$background-color: #F6F5F5;
$background-second-color: #CCF2F4;
$background-third-color: #1687A7;
$background-fourth-color: #113F67;
$background-fifth-color:#ccf2f488;