#biodata {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    .about-me-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        padding: 0 100px;

        .motto {
            display: flex;
            flex-flow: column;
            text-align: center;
            font-style: italic;
            margin: 15px 0;

            span {
                padding: 5px 0;
            }
        }

        .skills {

            width: 100%;

            .super-title {
                text-align: center;
                font-weight: 300;
            }

            .tickets {
                display: flex;

                .ticket {
                    margin: 20px;
                }
            }
        }
    }
}