@import "../../styles/styles";
.footer{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 2rem 0;
  background-color: $background-third-color;
  .text{
    color: $text-second-color;
  }
}