.nav {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    background-color: #fff;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), 0 6px 10px rgba(0, 0, 0, 0.23);
    .link {
        padding: 20px 10px;
        border: 0;
        border-bottom: 5px;
        border-style: solid;
        border-color: #fff;
        min-width: 90px;
        cursor: pointer;
        transition: 0.4s;
        position: relative;
        a {
            padding: 20px 10px;
            width: 100%;
            transition: 0.2s;
            color: #14213d;
            text-decoration: none;
        }
        &:hover {
            border-color: #fca311;
            a {
                color: #fca311;
            }
        }
    }
}
