.nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #eddcd2;
    .item {
        padding: 20px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background-color: #cb997e;
        }
    }
}
